rules_version = '2';

service cloud.firestore {
  match /databases/(default)/documents {
    match /Landjugend/{documentId} {
      allow create: if true;  // Jeder kann ein neues Dokument erstellen
      allow read: if false;   // Niemand kann die Daten lesen
      allow update, delete: if false; // Niemand kann Daten bearbeiten oder löschen
    }
  }
}