rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /Landjugend/{documentId} {
      // Jeder kann ein neues Dokument erstellen
      allow create: if true;

      // Lesen und Löschen nur für Admins erlaubt
      allow read, delete: if request.auth != null;

      // Bearbeiten ist für alle verboten
      allow update: if false;
    }
  }
}